<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mayor in the house</title>
	<link href="static/home.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="content">
    <div id="copy">
    <h1>Mayor-in-the-house!</h1>
    <p><span style="font-weight: bold">Owners and managers: </span>Get notified whenever your best customers check in on foursquare</p>
    <a href="/auth"><img src="static/connect.png" width="300" height="48" alt="Connect"></a>
    </div>
    <div id="photo">
    <img src="static/photo.png" width="396" height="744">
    </div>
</div>
</body>
</html>
