<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>boom</title>
  <link href="../static/style.css" type="text/css" rel="stylesheet" />
  <meta name = "viewport" content = "user-scalable=no, width=device-height">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script>
  function updateHereNow() {
    $.ajax({
      url: "/hereNow",
      cache: false,
      success: function(html){
        $("#people").html(html);
      }
    });
    setTimeout('updateHereNow()', 10000);
  }
  $(document).ready(function() {
    priceKey = [1.5, 1.5, 2, 2, 4, 4];
    total = 0;
    updateHereNow();

    $("#shelf .item").click(function(){
      if (!($('#card').hasClass('flipped'))) {
        $('#card').toggleClass('flipped');
      }
      var shelfIndx = Number($(this).attr("id").substring(1));
      total = Number(total) + priceKey[shelfIndx];
      total = total.toFixed(2);
      item = $(this).children().get(1);
      itemText = $(item).text();
      $('#total').html("$" + total);
      $('#back .inner').append("<div class='lineItem'><div class='price'> $" + priceKey[shelfIndx].toFixed(2) + "</div><div>" + itemText + "</div></div>");
    });

    $("#charge").click(function(){
      customer_id = $('#bio').attr('class').substring(1);
      $.ajax({
        url: "/charge?total=" + total + "&customer=" + customer_id,
        cache: false,
        success: function(html){
          alert('Charged $' + total);
        }
      });
    });

    $(document).bind(
      'touchmove',
      function(e) {
        e.preventDefault();
      }
    );
  });
  </script>
</head>
<body>

  <div id="nav">
    <div id="navMenu">
      <a href="#" id="specials">Specials & Stats</a>
      <a href="/settings" id="settings">Settings</a>
      <a href="/logout" id="logout">Log Out</a>
    </div>
    <h1>La Colombe Torrefaction</h1>
  </div>

  <div id="people"></div>

  <div id="receipt">
    <div id="card" class="card">
      <div id="front" class="front face">
        <p>Loading...</p>
      </div>
      <div id="back" class="back face">
        <div class="inner">
          <div id="total"></div>
        </div>
        <div id="charge">Charge</div>
      </div>
    </div>
  </div>

  <div id="shelf">
    <div id="s0" class="item">
      <img src="../static/items/1.png" width="90" height="90">
      <label>Tea</label>
    </div>
    <div id="s1" class="item">
      <img src="../static/items/2.png" width="90" height="90">
      <label>Drip Coffee</label>
    </div>
    <div id="s2" class="item">
      <img src="../static/items/3.png" width="90" height="90">
      <label>Croissant</label>
    </div>
    <div id="s3" class="item">
      <img src="../static/items/4.png" width="90" height="90">
      <label>Muffin</label>
    </div>
    <div id="s4" class="item">
      <img src="../static/items/5.png" width="90" height="90">
      <label>Cappuccino</label>
    </div>
    <div id="s5" class="item">
      <img src="../static/items/6.png" width="90" height="90">
      <label>Pure Black</label>
    </div>
  </div>

</body>
</html>